.FilterCatItem{
    width: 30%;
    background-color: rgba(255, 228, 196, 0.466);
    margin: .5rem;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    font-family: 'roboto';
}

.filterText{
    color: black;
    display: block;
    text-align: left;
    margin: 1rem 0;
}
.marginleft{
    margin-left: 5px;
}
    
.FilterCatItem>img{
    width: 100%;
    cursor: pointer;
}


@media screen and (max-width:900px) {
    .FilterCatItem{
        border-radius: 10px;
        border-bottom-right-radius: 50px;
        text-overflow: ellipsis; 
        font-size: 14px;
    }
}